

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      h1, p {
        color : darkred;
      }
    </style>
  </head>
  <body>
    <h1>
      Request Header Parser
    </h1>

    <h3>
      Example Usage
    </h3>

    <a href="./whoami">https://reqst-header-prsr-microservice.glitch.me/whoami</a>
    <h3>
      Example Output
    </h3>
    
    <p>
      {"ipaddress":"X.X.X.X","language":"en-US","software":"Windows NT 10.0; Win64; x64"}
    </p>
    
  </body>
</html>
